{% extends "base.html" %} {% block content %}

<!-- main content goes here -->
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Login Form -->
        <span>{{error}}</span>
        <form method="post" action="/login">
            {% csrf_token %}
            <input
                type="text"
                id="username"
                name="username"
                placeholder="username"
            />
            <input
                type="password"
                id="password"
                name="password"
                placeholder="password"
            />
            <input type="submit" value="Log In" />
        </form>
    </div>
</div>

{% endblock %}
