	
	{% extends "base.html" %} 
	{% load static %}	
	{% block top_section %}
			<div class="display-t text-center">
				<div class="display-tc">
					<div class="container">
						<div class="col-md-10 col-md-offset-1">
							<div class="animate-box">
								<h2>Services</h2>
								<p class="breadcrumbs">
								{% if user.is_authenticated %}
								<span><a href="/logout">Logout</a></span> 
								{% else %}
								<span><a href="/login">Please Login</a></span> 
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
	{% endblock %}

	{% block content %}
		</section>
		<div class = "container">

			<div class="login-form">
				<form action="/" method="post">
					
					<img class = "avtar" src="{% static 'images/login_icon.png' %}" alt="Avatar">
					<h2 class="text-center">Create New User</h2>   
					<div class="form-group">
						<input type="text" class="form-control" name="username" placeholder="Username" required="required">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="password" placeholder="Password" required="required">
					</div>        
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-lg btn-block">Create</button>
					</div>
				</form>
            </div>
            
            {% for user in users %}
            <a  href='/upload-images/{{ user.id }}' class="btn btn-info">{{user.username}}</a>
            {% endfor %}
            
            
		</div>
	
		{% endblock %}