{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>

{% endblock %} {% block content %}
<section
  id="home"
  class="video-hero"
  style="height: 800px; background-image: url(images/cover_img_2.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;"
  data-section="home"
>
  <div class="overlay"></div>
  <div class="display-t text-center">
    <div class="display-tc">
      <div class="container">
        <div class="col-md-10 col-md-offset-1">
          <div class="animate-box">
            <h2>Upload Images</h2>
            <p class="breadcrumbs">
              {% if user.is_authenticated %}
              <span><a href="/logout">Logout</a></span>
              {% else %}
              <span><a href="/login">Login</a></span>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <form
    method="post"
    style="font-size: 2rem;margin: 3rem auto;"
    enctype="multipart/form-data"
  >
    {% load crispy_forms_tags %} {% csrf_token %} {{ form|crispy }}
    <button
      style="font-size: 3rem;display: block;margin: auto;"
      class="btn btn-info"
      type="submit"
    >
      Upload
    </button>
  </form>
  <hr />
  <div class="row">
    <div class="col-md-8">
      {% for i in user.images.all %} {{ i.name }}
      <img src="{{ i.image.url }}" class="img-responsive" />

      {% endfor %}
    </div>
    <div class="col-md-4">
      <h1 style="font-size: 4rem;">Selected File Names</h1>
      <ol>
        <li style="font-size: 2rem;">dummy file name</li>
        <li style="font-size: 2rem;">dummy file name</li>
        <li style="font-size: 2rem;">dummy file name</li>
        <li style="font-size: 2rem;">dummy file name</li>
        <li style="font-size: 2rem;">dummy file name</li>
        <li style="font-size: 2rem;">dummy file name</li>
        <li style="font-size: 2rem;">dummy file name</li>
        <li style="font-size: 2rem;">dummy file name</li>
        <li style="font-size: 2rem;">dummy file name</li>
        <li style="font-size: 2rem;">dummy file name</li>
        <li style="font-size: 2rem;">dummy file name</li>
        <li style="font-size: 2rem;">dummy file name</li>
      </ol>
    </div>
  </div>
</div>

{% endblock %}

<!-- 
  <div class="container upload-section">
    <form action="">
      <h3 class="text-center">Upload Images</h3>
      <div class="well" data-bind="fileDrag: multiFileData">
        <div class="form-group row">
          <div class="col-md-6">

            <img
              style="height: 100px; margin: 5px;"
              class="img-rounded  thumb"
              data-bind="attr: { src: dataURL }, visible: dataURL"
            />
            
            <div data-bind="ifnot: fileData().dataURL">
              <label class="drag-label">Drag files here</label>
            </div>
          </div>
          <div class="col-md-6">
            <input
              type="file"
              multiple
              data-bind="fileInput: multiFileData, customFileInput: {
                      buttonClass: 'btn btn-success',
                      fileNameClass: 'disabled form-control',
                      onClear: onClear,
                      onInvalidFileDrop: onInvalidFileDrop
                    }"
              accept="image/*"
            />
          </div>
        </div>
      </div>
      <input class="btn btn-success" type="submit" value="Upload" />
    </form>
  </div>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
  <script src="js/knockout-file-bindings.js"></script>
  <script>
    var viewModel = {};
    viewModel.fileData = ko.observable({
      dataURL: ko.observable(),
      // can add "fileTypes" observable here, and it will override the "accept" attribute on the file input
      // fileTypes: ko.observable('.xlsx,image/png,audio/*')
    });
    viewModel.multiFileData = ko.observable({
      dataURLArray: ko.observableArray(),
    });
    viewModel.onClear = function(fileData) {
      if (confirm("Are you sure?")) {
        fileData.clear && fileData.clear();
      }
    };
    viewModel.onInvalidFileDrop = function(failedFiles) {
      var fileNames = [];
      for (var i = 0; i < failedFiles.length; i++) {
        fileNames.push(failedFiles[i].name);
      }
      var message = "Invalid file type: " + fileNames.join(", ");
      alert(message);
      console.error(message);
    };
    ko.applyBindings(viewModel);
  </script> -->
